In [20]:
from google.colab.output import eval_js
import pandas as pd
import numpy as np
import requests
import json

In [21]:
OA = 'https://api.openalex.org/'

In [8]:
institutions = requests.get(
    OA + 'institutions'
).json()

In [44]:
italian_institutions = requests.get(
    OA + 'institutions?filter=country_code:IT&sort=works_count:desc'
).json()

In [51]:
italian_insti_df = pd.DataFrame(italian_institutions['results'])
italian_insti_df.columns.values.tolist()

['id',
 'ror',
 'display_name',
 'country_code',
 'type',
 'homepage_url',
 'image_url',
 'image_thumbnail_url',
 'display_name_acronyms',
 'display_name_alternatives',
 'works_count',
 'cited_by_count',
 'ids',
 'geo',
 'international',
 'associated_institutions',
 'counts_by_year',
 'x_concepts',
 'works_api_url',
 'updated_date',
 'created_date']

In [60]:
italian_insti_df[['display_name','works_count']]

                               display_name  works_count
0               Sapienza University of Rome       165568
1                     University of Bologna       131963
2                       University of Padua       130393
3                       University of Milan       128790
4          University of Naples Federico II        92541
5                    University of Florence        87745
6                       University of Turin        86333
7                        University of Pisa        83281
8                     Politecnico di Milano        67135
9                       University of Genoa        66279
10                      University of Pavia        61372
11           University of Rome Tor Vergata        61277
12             University of Bari Aldo Moro        52915
13                    University of Palermo        51098
14          Polytechnic University of Turin        50216
15                    University of Catania        46860
16                    University of Perugia        46413
17  Catholic University of the Sacred Heart        43371
18                      University of Parma        43095
19                      University of Siena        39851
20                     University of Verona        39041
21   University of Modena and Reggio Emilia        38315
22             University of Milano-Bicocca        38223
23                    University of Messina        34996
24                    University of Ferrara        34902

In [36]:
institutions['meta']

{'count': 108667, 'db_response_time_ms': 31, 'page': 1, 'per_page': 25}

In [25]:
len(institutions['results'])

25

In [ ]:
pd.DataFrame(institutions['results'])

In [ ]:
01111rn36